*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: rgb(15, 45, 78);
    color: white;
    height: 100px;

}
#logout{
    margin-left: 90%;
    width: 90px;
    height: 35px;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
  
}

.usuario{

  width: 89%;
 padding-top: 10px;
 text-align: center;
   

}

#tabla{
    background-color: rgb(15, 45, 78);
    color: white;
}
#formulario{
    margin-right: 1em;
}
.titulo{
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
